
.box {
    padding:30px 20px;
    background: #fff;
    outline: var(--outline);
    outline-offset: -10px;
    text-align: center;
    box-shadow: var(--box-shadow);
    position:relative;
}
.box:hover{
    outline: var(--outline-hover);
    outline-offset: 0px;
}

.box img{
    margin:10px 0;
    height: 150px;
    width:100%;
    /* make the image fit */
    object-fit: cover;
}

.box h3{
    font-size: 25px;
    line-height: 1.8;
    color:var(--black);
}

.box p{
    font-size: 15px;
    line-height: 1.8;
    color:var(--light-color);
    padding:10px 0;
}