.container{
    width:100%;
    min-height:500px;
    padding:20px;
}

.box {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:20px 0px;
}

.box input {
    min-width:300px;
    padding:10px;
    border:1px solid var(--light-gray);
    border-radius:5px;
    outline:none;
    font-size:16px;
    /* margin */
    margin:10px 0px;
    text-transform:none;
}
.icon_eye{
    padding:10px;
    cursor:pointer;
    color:var(--orange);
}
.icon_eye_slash{
    padding:10px;
    cursor:pointer;
}
.icon_eye_slash:hover {
    color:var(--orange);
}