.container{
    width:100%;
    min-height:500px;
    padding:20px;
}
.pagination {
    width:100%;
    display:flex;
    justify-content:flex-end;
    margin-top:20px;
}

.register_btn {
    margin-bottom:10px;
    display:flex;
    justify-content:content;
    align-items:center;

}

@media (max-width:450px){
    .container {
        padding:20px 0px;
    }
}