.box {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: var(--black);
    cursor:pointer;
}

.box:hover {
    color: var(--orange);
}

.icon {
    font-size:20px;
    padding-left:10px;
}

