.box{
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background:#fff;
}
.box img{
    height:250px;
    width:100%;
    object-fit: cover;
}
.box .content{
    padding:20px;
}
.box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: var(--border);
}
.box .content .icons a{
    color:var(--light-color);
    font-size: 15px;
}
.box .content .icons a:hover{
    color:var(--black);
}
.box .content .icons a .icon{
    color:var(--orange);
    padding-right: 2px;
}
.box .content h3{
    line-height: 1.8;
    color:var(--black);
    font-size: 22px;
    padding:5px 0;
}
.box .content p{
    line-height: 1.8;
    color:var(--light-color);
    font-size: 15px;
    padding:5px 0;

}
