.box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:15px;
    padding: 20px 9%;
}
.box_container .box{
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background:#fff;
}
.box_container .box img{
    height:250px;
    width:100%;
    object-fit: cover;
}
.box_container .box .content{
    padding:20px;
}
.box_container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: var(--border);
}
.box_container .box .content .icons a{
    color:var(--light-color);
    font-size: 15px;
}
.box_container .box .content .icons a:hover{
    color:var(--black);
}
.box_container .box .content .icons a i{
    color:var(--orange);
    padding-right: 5px;
}
.box_container .box .content h3{
    line-height: 1.8;
    color:var(--black);
    font-size: 22px;
    padding:5px 0;
}
.box_container .box .content p{
    line-height: 1.8;
    color:var(--light-color);
    font-size: 15px;
    padding:5px 0;
}
