.container{
    width:100%;
    height:100%;
    background-color:white;
    /* display: grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:15px;
    padding: 20px 2%;

}

.showSearch{
    width:100%;
    height:50px;
    background-color:white;
    display:flex;
    align-items: center;
}

.showSearch h4{
    font-family:var(--font-family);
    margin-left:20px;
}

.pagination {
    display:flex;
    width:100%;
    justify-content:flex-end;
    margin-top:10px;
}
