@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 5px 15px rgba(0,0,0,.1);
    --border:2px solid rgba(0,0,0,.1);
    --outline:1px solid rgba(0,0,0,.1);
    --outline-hover:2px solid var(--black);
    --light-gray:#f5f5f5;
    --font-family:'Sofia', cursive;
    /* header */
    --header-height:156px;
    --header-height-400:95px;
    --header-height-990:95px;
    --header-padding:0px 30px 25px 30px;
    --header-padding-400:25px 10px 25px 10px;
    --header-padding-990:25px 10px 25px 10px;
    --header-navbar_brand_size: 35px;
    --header-navbar_brand_size-400: 25px;
    --navbar-logo-color:#ffccaa;
    --navbar-logo-content-font-family:'Sofia', cursive;
    --navbar-search-padding-top:38px;
    /* footer */
    --footer-backgroundColor: white;
    --footer-height: 413px;
    --footer-height-1090: 693px;
    --footer-height-800: 656px;
    --footer-height-610: 1151px;

    /* page not found and maintenance */
    --pageNotFound-MainteNance-padding-top: 50px;
    --pageNotFound-MainteNance-padding-top-400: 20px;
    --pageNotFound-MainteNance-font-size: 40px;
    --pageNotFound-MainteNance-font-size-400: 30px;
    --pageNotFound-MainteNance-logo-width-height: 100px;
    --pageNotFound-MainteNance-logo-width-height-400: 50px;

    /* chat app home */
    --title-chatAppHome-font-size: 18px;
    --title-chatAppHome-font-size-990: 16px;
    --title-chatAppHome-font-size-400: 14px;
    --title-chatAppHome-width-size: 76px;
    --title-chatAppHome-width-size-990: 64px;
    --title-chatAppHome-width-size-400: 52px;
    --title-chatAppHome-height-size: 24px;
    --title-chatAppHome-height-size-400: 20px;
    --title-chatAppHome-height-size-990: 16px;
    --chatAppHome_right: 80px;
    --chatAppHome_right-990: 60px;
    --chatAppHome_right-400: 40px;

    --chatAppHome_open_width:400px;
    --chatAppHome_open_width-990:350px;
    --chatAppHome_open_width-400:80%;
    --chatAppHome_open_height:384px;

    --chatAppHome_open_right:80px;
    --chatAppHome_open_right-990:60px;
    --chatAppHome_open_right-400:20px;

    /* Album css */
    --album-font-family:'Sofia', cursive;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.05s linear;
}
body{
    background:#eee;
}

a{
    text-decoration:none;
}

.btn_custom{
    margin-top: 10px;
    display: inline-block;
    padding:8px 30px;
    font-size: 17px;
    border-radius: 5px;
    border:2px solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn_custom:hover{
    background: var(--orange);
    color:#fff;
}


