.navbar {
    padding:var(--header-padding);
    display:flex;
    position:fixed;
    top:0;
    left:0;
    right:0;
    justify-content:space-between;
    align-items:center;
    background-color:white;
    box-shadow: var(--box-shadow);
    z-index:2;
}

.logo {
    margin-right:20px;
}


.navbar_item{
    font-size: 18px;
    color:var(--black);
    font-family: var(--navbar-logo-content-font-family);
    text-shadow: 2px 2px 4px #989898;
}

.navbar_item:hover{
    color:var(--orange);
}

.service_icons {
    display:flex;
}

.search{
    width:100%;
    display:flex;
    padding-top:var(--navbar-search-padding-top);
}

.icon_box{
    height: 50px;
    width: 50px!important;
    line-height: 50px;
    border-radius: 5px;
    background: #eee;
    color:var(--black);
    font-size: 25px;
    margin-right: 5px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}
.icon_box:hover{
    background: var(--orange);
    color:#fff;
}

.search_box {
    margin-top:var(--navbar-search-padding-top);
    cursor:pointer;
}

.login_box {
    border-radius:25px;
    position:relative;
    margin-left:auto;
}

.login_box h3 {
    margin-top:8px;
    
}

.login_box_hover{
    display:none;
}

.login_box_hover::before{
    content:"";
    position:absolute;
    height:5px;
    top:-20px;
    right:10px;
    border-top:10px solid transparent;
    border-bottom:10px solid white;
    border-left:14px solid transparent;
    border-right:14px solid transparent;
}

.login_box:hover .login_box_hover{
    position:absolute;
    top:calc(100% + 15px);
    right:0;
    width:200px;
    background-color:white;
    border-radius:5px;
    box-shadow: var(--box-shadow);
    padding:10px;
    z-index:2;
    color:var(--black);
    font-size:15px;
    display:flex;
    justify-content:space-around;
}

.login_box_hover_link{
    cursor:pointer;
    text-shadow: var(--box-shadow);
    color: var(--black);
}

.login_box_hover_link:hover{
    color:var(--orange);
}

.loggedIn{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width:990px){
    .navbar{
        padding:var(--header-padding-990);
    }
}

@media (max-width:450px){
    .navbar{
        padding:var(--header-padding-400);
    }
    .navbar_brand{
        font-size: var(--header-navbar_brand_size-400);
    }
}

