.navbar {
    padding:var(--header-padding);
    display:flex;
    position:fixed;
    top:0;
    left:0;
    right:0;
    justify-content:space-between;
    align-items:center;
    background-color:white;
    box-shadow: var(--box-shadow);
    z-index:2;
}

.logo {
    color: #ffccaa;
    margin-right:20px;
}

.navbar_brand{
    font-size: var(--header-navbar_brand_size);
    color:var(--black);
    font-family: 'Sofia', cursive;
}

.navbar_item{
    font-size: 20px;
    color:var(--black);
    font-family: 'Sofia', cursive;
    text-shadow: 2px 2px 4px #989898;
}

.navbar_item:hover{
    color:var(--orange);
}

.service_icons {
    display:flex;
}

.service_icons div{
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 5px;
    background: #eee;
    color:var(--black);
    font-size: 25px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.service_icons div:hover{
    background: var(--orange);
    color:#fff;
}

@media (max-width:450px){
    .navbar{
        padding:var(--header-padding-400);
    }
    .navbar_brand{
        font-size: var(--header-navbar_brand_size-400);
    }
}