.box {
    position:fixed;
    width:150px;
    bottom:50px;
    left:0;
    background-color:white;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-left:-20px;
    transition:all 0.1s linear;
    z-index:2;
}

.box .icon {
    margin-left:5px;
}

@media (max-width:450px){
    .box{
        margin-left:-35px;
        bottom:16px;
    }
}